# pydata
numpy
pandas
scikit-learn
dask
distributed
dask-ml
xarray

# trees
xgboost
lightgbm

# jax
jax
jaxlib

# pytorch
torch
torchvision
pytorch-lightning

# distributed

# tracking
mlflow

# visualization
matplotlib
seaborn

# python tools
numba
ipykernel
papermill

