# pydata
numpy
scipy
pandas
scikit-learn
dask
distributed
dask-ml
bokeh
xarray
dask-sql
adlfs
fsspec
fastparquet
pyarrow
python-snappy
lz4

# trees
xgboost
lightgbm

# pytorch
torch
torchvision
pytorch-lightning

# jax
jax
jaxlib

# tracking
mlflow
azureml-mlflow

# visualization
matplotlib
seaborn

# python tools
tqdm
numba
joblib
jupyter
ipykernel
papermill
black
black-nb

# webdev
Flask

