# pydata
numpy
pandas
scikit-learn
dask
distributed
dask-ml
bokeh
xarray

# trees
xgboost
lightgbm

# pytorch
torch
torchvision
pytorch-lightning

# jax
jax
jaxlib

# tracking
mlflow

# visualization
matplotlib
seaborn

# python tools
numba
joblib
ipykernel
papermill

